body{
color: white
background:black
margirn:palegreen
header{
borde-bottom:solid 2px rgd (42 122,228);
padding: 20px;
font: sile 32px;
color:rgb(42,122,228);
section{rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center

    .chamada-texto {
   margin-right: 5%
   